<div class="m-2">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let product of products">
      <app-product
        [product]="product"
        [showAddToCartButton]="showAddToCartButton"
        [showDeleteButton]="showDeleteButton"
        [deleteProductCallback]="deleteProductCallback"
      ></app-product>
    </div>
  </div>
  <div class="alert alert-light text-center" role="alert" *ngIf="products === undefined || products.length === 0">
    No products found
  </div>
</div>
