<div class="alert alert-light text-center" role="alert" *ngIf="products.length === 0">
  Your cart is empty
</div>
<div class="container" *ngIf="products.length !== 0">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>${{product.price}}</td>
    </tr>
    <tr>
      <td class="font-weight-bold" colspan="2">Total</td>
      <td class="font-weight-bold">${{total}}</td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col text-right">
      <button type="button" class="btn btn-danger" (click)="doClearCart()">Clear Cart</button>
    </div>
    <div class="col text-left">
      <button type="button" class="btn btn-success" (click)="doCheckout()">Checkout</button>
    </div>
  </div>
</div>
