<div class="card m-3 text-center" >
  <div class="card-body p-2">
    <h5 class="card-title bg-success mb-0 text-white">{{product.name}}</h5>
    <fa-icon style="font-size: 5rem;" [icon]="faCoffee"></fa-icon>
    <p class="card-text">{{product.description}}</p>
    <p class="card-text">${{product.price}}</p>
    <a class="btn btn-primary" (click)="addProductToCart(product.id)" *ngIf="showAddToCartButton">Add to Cart</a>
    <a class="btn btn-primary" (click)="deleteProduct(product.id)" *ngIf="showDeleteButton">Delete</a>
  </div>
</div>
